In [2]:
import pandas as pd

In [4]:
total_ans_feature_df = pd.read_csv('StackOverflowAndroidAnsweredFeaturesTotal.csv')

In [6]:
from sklearn import svm

In [7]:
total_ans_feature_df.columns

Index(['Unnamed: 0', 'Id', 'PostTypeId', 'AcceptedAnswerId', 'ParentId',
       'CreationDate', 'DeletionDate', 'Score', 'ViewCount', 'Body',
       'OwnerUserId', 'OwnerDisplayName', 'LastEditorUserId',
       'LastEditorDisplayName', 'LastEditDate', 'LastActivityDate', 'Title',
       'Tags', 'AnswerCount', 'CommentCount', 'FavoriteCount', 'ClosedDate',
       'CommunityOwnedDate', 'ParentId.1', 'first_response', 'number_of_days',
       'lines_of_code', 'number_of_code_tags', 'average_sent_length',
       'urls_count', 'sent_length', 'word_count', 'SBAR', 'SBARQ', 'SQ'],
      dtype='object')

In [13]:
from datetime import datetime

In [62]:
from dateutil import parser
def date_diff(first_response, CreationDate):
    dt = parser.parse(first_response)
    dt1 = parser.parse(CreationDate)
    diff = dt - dt1
    return diff.total_seconds()/3600 # divide by 3600 to convert to hours

# date_diff("2019-02-13 09:39:22", "2019-01-02 07:05:39")

In [70]:
def get_class(hr):
    if 0 <= hr <= 1:
        return 1
    elif 1< hr <= 2:
        return 2
    elif 2< hr<= 4:
        return 4
    elif 4< hr <=10:
        return 10;
    elif hr > 10:
        return 11

In [99]:
hr_diff_list = []
hr_y = []
count ={}
for index, row in total_ans_feature_df.iterrows():
    hr_diff = date_diff(row['first_response'], row['CreationDate'])
    hr_diff_list.append(hr_diff)
    cls = get_class(hr_diff)
    if cls in count:
        count[cls] = count[cls]+ 1
    else:
        count[cls] = 1
    hr_y.append(cls)
    
total_ans_feature_df['hr_diff'] = hr_diff_list
total_ans_feature_df['y_hr'] = hr_y
total_ans_feature_df = total_ans_feature_df.fillna(0)

In [100]:
count

{11: 1872, 10: 664, 2: 920, 4: 712, 1: 5102}

In [101]:
#total_ans_feature_df[0:100].hr_diff
total_ans_feature_df[8500:8600][['CreationDate','first_response','hr_diff', 'y_hr']]

             CreationDate       first_response    hr_diff  y_hr
8500  2019-01-24 12:02:32  2019-01-24 12:09:37   0.118056     1
8501  2019-01-24 12:11:29  2019-01-24 12:20:18   0.146944     1
8502  2019-01-24 10:14:06  2019-01-24 10:31:47   0.294722     1
8503  2019-01-24 10:38:54  2019-01-24 12:56:06   2.286667     4
8504  2019-01-24 10:46:57  2019-01-24 11:11:09   0.403333     1
8505  2019-01-24 11:20:28  2019-01-24 12:00:01   0.659167     1
8506  2019-01-24 11:32:00  2019-01-24 11:42:47   0.179722     1
8507  2019-01-24 11:36:53  2019-01-24 11:51:22   0.241389     1
8508  2019-01-24 14:46:31  2019-01-24 14:58:36   0.201389     1
8509  2019-01-24 14:51:19  2019-01-24 15:14:37   0.388333     1
8510  2019-01-24 15:14:23  2019-01-24 15:27:56   0.225833     1
8511  2019-01-24 15:19:45  2019-01-24 15:41:50   0.368056     1
8512  2019-01-24 15:31:39  2019-01-24 16:22:05   0.840556     1
8513  2019-01-24 15:36:24  2019-01-24 15:49:49   0.223611     1
8514  2019-01-24 16:16:03  2019-01-24 19:17:07   3.017778     4
8515  2019-01-23 06:40:14  2019-01-23 06:54:48   0.242778     1
8516  2019-01-20 17:42:34  2019-01-20 17:59:55   0.289167     1
8517  2019-01-23 01:38:14  2019-01-23 01:55:02   0.280000     1
8518  2019-01-23 04:35:58  2019-01-23 05:23:34   0.793333     1
8519  2019-01-23 05:09:57  2019-01-23 06:41:11   1.520556     2
8520  2019-01-21 17:25:25  2019-01-21 20:42:20   3.281944     4
8521  2019-01-21 18:29:39  2019-01-21 19:33:39   1.066667     2
8522  2019-01-21 18:58:43  2019-01-21 19:21:01   0.371667     1
8523  2019-01-22 17:49:36  2019-01-22 18:09:13   0.326944     1
8524  2019-01-22 19:47:34  2019-01-22 20:00:39   0.218056     1
8525  2019-01-22 20:13:43  2019-01-22 20:22:29   0.146111     1
8526  2019-01-23 10:39:49  2019-01-23 10:51:17   0.191111     1
8527  2019-01-23 11:36:47  2019-01-23 12:43:15   1.107778     2
8528  2019-01-23 12:30:40  2019-01-23 13:24:35   0.898611     1
8529  2019-01-23 13:12:59  2019-01-23 13:24:19   0.188889     1
...                   ...                  ...        ...   ...
8570  2019-01-08 12:13:04  2019-01-08 12:50:34   0.625000     1
8571  2019-01-08 07:36:13  2019-01-08 07:45:43   0.158333     1
8572  2019-01-08 08:09:27  2019-01-08 08:17:32   0.134722     1
8573  2019-01-08 08:15:30  2019-01-08 09:32:16   1.279444     2
8574  2019-01-08 09:09:08  2019-01-08 09:17:15   0.135278     1
8575  2019-01-08 09:25:38  2019-01-08 14:31:13   5.093056    10
8576  2019-01-08 09:28:30  2019-01-08 10:05:28   0.616111     1
8577  2019-01-08 00:03:53  2019-01-08 02:00:47   1.948333     2
8578  2019-01-07 23:03:10  2019-01-07 23:23:22   0.336667     1
8579  2019-01-08 02:10:48  2019-01-08 02:25:51   0.250833     1
8580  2019-01-08 07:27:42  2019-01-08 07:44:57   0.287500     1
8581  2019-01-09 03:47:04  2019-01-09 03:56:03   0.149722     1
8582  2019-01-09 05:45:21  2019-01-09 06:26:04   0.678611     1
8583  2019-01-09 07:27:17  2019-01-09 07:39:13   0.198889     1
8584  2019-01-09 07:58:17  2019-01-09 09:03:14   1.082500     2
8585  2019-01-09 08:38:29  2019-01-09 09:00:15   0.362778     1
8586  2019-01-09 09:00:45  2019-01-09 09:16:51   0.268333     1
8587  2019-01-09 09:19:47  2019-01-09 10:03:32   0.729167     1
8588  2019-01-09 09:51:20  2019-01-09 10:04:15   0.215278     1
8589  2019-01-08 21:32:12  2019-01-08 22:15:10   0.716111     1
8590  2019-01-08 21:46:06  2019-01-08 22:00:50   0.245556     1
8591  2019-01-08 22:06:20  2019-01-08 22:51:35   0.754167     1
8592  2019-01-08 22:21:18  2019-01-08 22:40:22   0.317778     1
8593  2019-01-08 14:09:54  2019-01-08 14:33:57   0.400833     1
8594  2019-01-08 14:55:44  2019-01-08 16:23:26   1.461667     2
8595  2019-01-08 16:02:22  2019-01-08 16:21:00   0.310556     1
8596  2019-01-07 03:50:57  2019-01-07 15:16:42  11.429167    11
8597  2019-01-07 05:38:44  2019-01-07 16:17:57  10.653611    11
8598  2019-01-07 06:14:24  2019-01-07 06:31:25   0.283611     1
8599  2019-01-07 06:56:55  2019-01-07 14:41:35   7.744444    10

[100 rows x 4 columns]

In [102]:
total_ans_feature_df[0:1]

,Unnamed: 0,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,DeletionDate,Score,ViewCount,Body,...,number_of_code_tags,average_sent_length,urls_count,sent_length,word_count,SBAR,SBARQ,SQ,hr_diff,y_hr
0,0,54002492,1,54666886.0,0.0,2019-01-02 07:05:39,0.0,0,50,<p>how can i perform login without OTP verific...,...,0,11.0,0,2,22,0.0,0.0,0.5,1010.561944,11

In [103]:
import pandas
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [104]:
x = total_ans_feature_df[['lines_of_code', 'number_of_code_tags', 'average_sent_length',
       'urls_count', 'sent_length', 'word_count', 'SBAR', 'SBARQ', 'SQ']]

y = total_ans_feature_df['y_hr']

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=7)

X_train[0:1]

,lines_of_code,number_of_code_tags,average_sent_length,urls_count,sent_length,word_count,SBAR,SBARQ,SQ
5868,0,0,10.5,0,4,42,0.0,0.0,0.0

In [ ]:
# acc = ''
# models = []
# models.append(('SVM', SVC(gamma = 'auto')))
# models.append(('NB', GaussianNB()))
# results = []

# for model in models:
#     kfold = model_selection.KFold(n_splits = 10, random_state = 7)
#     mod = model_selection.cross_val_score(model, X_train, y_train, cv = kfold, scoring='accuracy')
#     results.append(mod)
# results
clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)